CREATE TABLE cost_centers (id uuid PRIMARY KEY DEFAULT gen_random_uuid(), household_id uuid NOT NULL REFERENCES households(id), name text NOT NULL, color text DEFAULT '#18b6a3', sort_order integer DEFAULT 100, created_at timestamp DEFAULT now(), UNIQUE(household_id, name)); INSERT INTO cost_centers (household_id, name, color, sort_order) VALUES ('cb96ef70-c910-45d9-a813-de6809c15', 'Familie', '#18b6a3', 10), ('cb96ef70-c910-45d9-a813-de6809c15', 'Nicole', '#ff6b9d', 20), ('cb96ef70-c910-45d9-a813-de6809c15', 'Stefan', '#c44569', 30);
